*.bak
*.cache
*.dll
*.log
*.obj
*.suo
*.swp
*.user
*ReSharper*
*resharper*
_compareTemp
_notes
aspnet_client
bin
bin/*
obj
obj/*
httpd.parse.errors
Thumbs.db
/Tools/resgen-exe-error-an-attempt-was-made-to-load-a-program-with-an-incorrect-format.url
/test.ps1
/ConvertFormV2.ppr
