<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Test10Propriété1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Test10Propriété1.Properties.Settings>
            <setting name="test" serializeAs="String">
                <value>12, 12</value>
            </setting>
            <setting name="max" serializeAs="String">
                <value>50, 0</value>
            </setting>
            <setting name="Max2" serializeAs="String">
                <value>150, 0</value>
            </setting>
        </Test10Propriété1.Properties.Settings>
    </userSettings>
</configuration>